@model WebsiteXemPhim.Models.PhimBo

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Sửa</h1>

<h4>Phim Bộ</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" method="post" enctype="multipart/form-data" class="series-form">
            <input type="hidden" asp-for="PhimBoId" />
            <input type="hidden" asp-for="LuotXem" />
            <input type="hidden" asp-for="Like" />
            <div class="series-form-group">
                <label asp-for="TenPhim" class="control-label">Tên phim</label>
                <input asp-for="TenPhim" class="series-form-control" style="width: 80%;" />
                <span asp-validation-for="TenPhim" class="text-danger"></span>
            </div>
            <div class="series-form-group">
                <label asp-for="NoiDung" class="control-label">Nội dung</label>
                <textarea asp-for="NoiDung" class="series-form-control" style="width: 100%; height: 150px;"></textarea>
                <span asp-validation-for="NoiDung" class="text-danger"></span>
            </div>
            <div class="series-form-group">
                <label asp-for="Anh" class="control-label">Ảnh phim</label>
                <input type="file" asp-for="Anh" class="series-form-control" />
                <span asp-validation-for="Anh" class="text-danger"></span>
                <img src="@Model.Anh" alt="Image" class="series-thumbnail" />
            </div>
            <div class="series-form-group">
                <label asp-for="AnhNen" class="control-label">Ảnh nền phim</label>
                <input type="file" asp-for="AnhNen" class="series-form-control" />
                <span asp-validation-for="AnhNen" class="text-danger"></span>
                <img src="@Model.AnhNen" alt="Image" class="series-thumbnail" />
            </div>
            <div class="series-form-group">
                <label asp-for="Trailer" class="control-label">Link phim giới thiệu</label>
                <input asp-for="Trailer" class="series-form-control" />
                <span asp-validation-for="Trailer" class="text-danger"></span>
            </div>
            <div class="series-form-group">
                <label asp-for="NamID" class="control-label">Năm</label>
                <select asp-for="NamID" class="series-form-control" asp-items="ViewBag.Nams"></select>
                <span asp-validation-for="NamID" class="text-danger"></span>
            </div>
            <div class="series-form-group">
                <label asp-for="QuocGiaId" class="control-label">Quốc gia</label>
                <select asp-for="QuocGiaId" class="series-form-control" asp-items="ViewBag.QuocGias"></select>
                <span asp-validation-for="QuocGiaId" class="text-danger"></span>
            </div>
            <div class="series-form-group">
                <label asp-for="TrangThaiId" class="control-label">Trạng Thái</label>
                <select asp-for="TrangThaiId" class="series-form-control" asp-items="ViewBag.TrangThais"></select>
                <span asp-validation-for="TrangThaiId" class="text-danger"></span>
            </div>
            <div class="series-form-group">
                <label class="control-label">Thể Loại</label>
                <div class="checkbox-group">
                    @foreach (var theLoai in ViewBag.TheLoais as List<TheLoai>)
                    {
                        <div>
                            <input type="checkbox" id="theLoai-@theLoai.TheLoaiId" name="theLoais" value="@theLoai.TheLoaiId"
                            @(ViewBag.SelectedTheLoais.Contains(theLoai.TheLoaiId) ? "checked" : "") />
                            <label for="theLoai-@theLoai.TheLoaiId">@theLoai.TenTheLoai</label>
                        </div>
                    }
                </div>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="series-form-group">
                <input type="submit" value="Lưu" class="btn btn-primary" />
                <a class="btn btn-info" asp-action="Index">Trở về danh sách</a>
            </div>
        </form>

    </div>
</div>
