@using Microsoft.AspNetCore.Identity
@using WebsiteXemPhim.DataAccess
@using WebsiteXemPhim.Models
@model WebsiteXemPhim.Models.PhimLe
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> _userManager
@inject ApplicationDbContext _context
@{
    ViewData["Title"] = "ChiTietPhimLe";
    Layout = "~/Views/Shared/_Layout.cshtml";

    // Kiểm tra xem người dùng đã đăng nhập và có thích phim này không
    var user = _userManager.GetUserAsync(User).Result;
    bool isFavorite = false;
    if (user != null)
    {
        var hopPhim = _context.HopPhim.FirstOrDefault(h => h.UserId == user.Id && h.PhimLeId == Model.PhimLeId);
        isFavorite = hopPhim != null;
    }
}
<section class="anime-details spad">
    <div class="container">
        <div class="anime__details__content">
            <div class="row">
                <div class="col-lg-3">
                    <div class="anime__details__pic set-bg" data-setbg="@Model.Anh">
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="anime__details__text">
                        <div class="anime__details__title">
                            <h3>@Model.TenPhim</h3>
                        </div>
                        <div class="anime__details__rating">
                            <div class="rating" data-movie-id="@Model.PhimLeId" data-rating-type="phimle">
                                @for (int i = 1; i <= 5; i++)
                                {
                                    if (i <= ViewBag.AverageRating)
                                    {
                                        <i class="ratingStar fa fa-star" data-value="@i"></i>
                                    }
                                    else if (i - 0.5 <= ViewBag.AverageRating)
                                    {
                                        <i class="ratingStar fa fa-star-half-alt" data-value="@i"></i>
                                    }
                                    else
                                    {
                                        <i class="ratingStar far fa-star" data-value="@i"></i>
                                    }
                                }
                            </div>
                            <input type="hidden" id="star-rating" value="0">
                            <span>Đánh giá @ViewBag.AverageRating/5</span>
                            <span>Từ @ViewBag.TongUser thành viên</span>
                        </div>
                        <div class="anime__details__widget">
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <ul>
                                        <li>
                                            <span>Thể loại:</span> 
                                            @{
                                                int count = 0;
                                                int totalItems = Model.ChiTietTheLoaiPhimLes.Count;
                                            }
                                            @foreach (var a in Model.ChiTietTheLoaiPhimLes)
                                            {
                                                @Html.DisplayFor(modelItem => a.TheLoai.TenTheLoai)
                                                if (count < totalItems - 1)
                                                {
                                                            <b>, </b>
                                                }
                                                count++;
                                            }
                                        </li>
                                        <li><span>Năm phát hành:</span> @Model.Nam.TenNam</li>
                                        <li><span>Quốc Gia:</span> @Model.QuocGia.TenQuocGia</li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                        <p style="text-align: justify;">
                            @Model.NoiDung
                        </p>
                        <div class="anime__details__btn">
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <a id="favorite-link" data-is-favorite="@isFavorite.ToString().ToLower()" data-phimle-id="@Model.PhimLeId" class="follow-btn">
                                    <i class="fa
                                   @if(isFavorite) {
                                        <text>fa-heart</text>
                                    } else {
                                        <text>fa-heart-o</text>
                                    }"></i>

                                    @if (isFavorite)
                                    {
                                        <text>Đã thích</text>
                                    }
                                    else
                                    {
                                        <text>Yêu thích</text>
                                    }
                                </a>
                                @if (Model.Link != null)
                                {
                                    <a asp-controller="LichSu" asp-action="AddPhimLe" asp-route-phimleid="@Model.PhimLeId" class="watch-btn">
                                        <span>Xem</span> <i class="fa fa-angle-right"></i>
                                    </a>
                                }
                                <a id="showTrailerBtn" class="watch-btn" style="margin-left:10px">
                                    <span>Trailer</span> <i class="fa fa-angle-right"></i>
                                </a>
                            }
                            else
                            {
                                @if (Model.Link != null)
                                {
                                    <a asp-controller="Home" asp-action="LuotXemPhimLe" asp-route-phimleid="@Model.PhimLeId" class="watch-btn">
                                        <span>Xem </span> <i class="fa fa-angle-right"></i>
                                    </a>
                                }
                                <a id="showTrailerBtn" class="watch-btn" style="margin-left:10px">
                                    <span>Trailer</span> <i class="fa fa-angle-right"></i>
                                </a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <div class="anime__video__player" id="videoPlayer" style="display: none;">
                    @if (!string.IsNullOrEmpty(Model.Trailer))
                    {
                        <div class="video-container">
                            <iframe id="videoFrame" src="@Model.Trailer" frameborder="0" scrolling="0" allowfullscreen></iframe>
                        </div>
                    }
                    else
                    {
                        <p class="error-message">Oops! Trailer này đang trốn đâu mất rồi. Hãy thử lại sau nhé!</p>
                    }
                </div>
                <div class="anime__details__form mb-5">
                    <div class="section-title">
                        <h5>Bình Luận</h5>
                    </div>
                    <form action="/BinhLuan/AddBinhLuanPL2" method="post">
                        <textarea name="text" placeholder="Bình luận của tôi"></textarea>
                        <input type="hidden" name="phimleid" value="@Model.PhimLeId" /> <!-- Thay thế 1 bằng giá trị phimboid thực tế -->
                        <button type="submit"><i class="fa fa-location-arrow"></i> Gửi</button>
                    </form>
                </div>
                <div class="anime__details__review">
                    <div class="section-title">
                        <h5>Ý Kiến Người Dùng</h5>
                    </div>
                    @foreach (var item in ViewData["BinhLuan"] as List<BinhLuan>)
                    {
                        var thoiGian = ViewBag.BinhLuanThoiGian[item.BinhLuanId];
                        <div class="anime__review__item">
                            <div class="anime__review__item__pic">
                                <img src="@(item.User.avatar ?? "/frontend/img/anime/Avatar.jpg")" alt="Error">
                            </div>
                            <div class="anime__review__item__text">
                                <h6>@item.User.UserName - <span>@thoiGian</span></h6>
                                <p>
                                    @item.NoiDungBinhLuan
                                </p>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="anime__details__sidebar">
                    <div class="section-title">
                        <form asp-controller="ChiTietPhim" asp-action="XemPhimNgauNhien" method="get">
                            <button type="submit" class="btn btn-primary">XEM PHIM NGẪU NHIÊN</button>
                        </form>
                    </div>
                    <div class="section-title">
                        <h5>Mới cập nhật..</h5>
                    </div>
                    @foreach (var item in ViewData["TopPhim"] as List<PhimLe>)
                    {
                            <a asp-controller="ChiTietPhim" asp-action="ChiTietPhimLe" asp-route-id="@item.PhimLeId">
                                <div class="product__sidebar__view__item set-bg" data-setbg="@item.AnhNen">
                                    <div class="ep">@item.TrangThai.TrangThaiPhim</div>
                                <h5 style="color : white"><a href="#">@item.TenPhim</a> <br /> @item.LuotXem lượt xem</h5>
                                </div>
                            </a>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/js/likePhimLe.js"></script>
