@model PaginatedList<WebsiteXemPhim.Models.PhimWithLoai>
@{
    ViewData["Title"] = "TimKiemNam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="product__page__content">
                    <div class="product__page__title">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-6">
                                <div class="section-title">
                                    <h4>Danh Sách Phim Thuộc Năm: @ViewBag.TenNam</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                @{
                                    string currentSortOrder = ViewBag.CurrentSortOrder as string;
                                }
                                <div class="product__page__filter">
                                    <p>Sắp xếp:</p>
                                    <select onchange="location = this.value;">
                                        @if (currentSortOrder == "AZ")
                                        {
                                            <option value="@Url.Action("TimKiemNam", new { sortOrder = "AZ" })">A-Z</option>
                                            <option value="@Url.Action("TimKiemNam", new { sortOrder = "ZA" })">Z-A</option>
                                            <option value="@Url.Action("TimKiemNam")">Mới</option>
                                        }
                                        else if (currentSortOrder == "ZA")
                                        {
                                            <option value="@Url.Action("TimKiemNam", new { sortOrder = "ZA" })">Z-A</option>
                                            <option value="@Url.Action("TimKiemNam", new { sortOrder = "AZ" })">A-Z</option>
                                            <option value="@Url.Action("TimKiemNam")">Mới</option>
                                        }
                                        else
                                        {
                                            <option value="@Url.Action("TimKiemNam")">Mới</option>
                                            <option value="@Url.Action("TimKiemNam", new { sortOrder = "AZ" })">A-Z</option>
                                            <option value="@Url.Action("TimKiemNam", new { sortOrder = "ZA" })">Z-A</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        @foreach (var item in Model)
                        {
                            if (item.Loai == "Bo")
                            {
                                <!-- Hiển thị thông tin của phim bộ -->
                                <div class="col-lg-4 col-md-6 col-sm-6">
                                    <div class="product__item">
                                        <a asp-controller="ChiTietPhim" asp-action="ChiTietPhimBo" asp-route-id="@item.Id">
                                            <div class="product__item__pic set-bg" data-setbg="@item.Anh">
                                                <div class="ep">@item.TrangThai</div>
                                                <div class="play-button">
                                                    <i class="fa fa-play"></i>
                                                </div>
                                            </div>
                                            <div class="product__item__text">
                                                <h5><a href="#">@item.TenPhim</a></h5>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            }
                            if (item.Loai == "Le")
                            {
                                <!-- Hiển thị thông tin của phim lẻ -->
                                <div class="col-lg-4 col-md-6 col-sm-6">
                                    <div class="product__item">
                                        <a asp-controller="ChiTietPhim" asp-action="ChiTietPhimLe" asp-route-id="@item.Id">
                                            <div class="product__item__pic set-bg" data-setbg="@item.Anh">
                                                <div class="ep">@item.TrangThai</div>
                                                <div class="play-button">
                                                    <i class="fa fa-play"></i>
                                                </div>
                                            </div>
                                            <div class="product__item__text">
                                                <h5><a href="#">@item.TenPhim</a></h5>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
                <div class="product__pagination">
                    @{
                        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                        var query = ViewData["idTheLoai"] as string;
                        var sortOrder = ViewData["sortOrder"] as string ?? "";
                    }
                    <a href="@Url.Action("TimKiemNam", new { query = query, pageNumber = Model.PageIndex - 1,sortOrder = sortOrder })" class="fa fa-angle-left btn btn-default @(prevDisabled)">
                    </a>
                    @for (int i = 1; i <= Model.TotalPages; i++)
                    {
                        <a href="@Url.Action("TimKiemNam", new { query = query, pageNumber = i,sortOrder = sortOrder })" class="@(i == Model.PageIndex ? "current-page" : "")">@i</a>
                    }
                    <a href="@Url.Action("TimKiemNam", new { query = query, pageNumber = Model.PageIndex + 1,sortOrder = sortOrder })" class="fa fa-angle-right btn btn-default @(nextDisabled)">
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <div class="product__sidebar">
                    <div class="product__sidebar__view">
                        <div class="section-title">
                            <form asp-controller="ChiTietPhim" asp-action="XemPhimNgauNhien" method="get">
                                <button type="submit" class="btn btn-primary">XEM PHIM NGẪU NHIÊN</button>
                            </form>
                        </div>
                        <div class="section-title">
                            <h5>Xem nhiều nhất</h5>
                        </div>

                        <div class="filter__gallery">
                            @foreach (var item in ViewData["TopLuotXem"] as List<PhimWithLoai>)
                            {
                                if (item.Loai == "Bo")
                                {
                                    <!-- Hiển thị thông tin của phim bộ -->
                                    <a asp-controller="ChiTietPhim" asp-action="ChiTietPhimBo" asp-route-id="@item.Id">
                                        <div class="product__sidebar__view__item set-bg"
                                             data-setbg="@item.AnhNen">
                                            <div class="ep">@item.TrangThai</div>
                                            <h5 style="color : white"><a href="#">@item.TenPhim</a>  <br /> @item.LuotXem lượt xem</h5>
                                        </div>
                                    </a>
                                }
                                if (item.Loai == "Le")
                                {
                                    <!-- Hiển thị thông tin của phim lẻ -->
                                    <a asp-controller="ChiTietPhim" asp-action="ChiTietPhimLe" asp-route-id="@item.Id">
                                        <div class="product__sidebar__view__item set-bg"
                                             data-setbg="@item.AnhNen">
                                            <div class="ep">@item.TrangThai</div>
                                            <h5 style="color : white"><a href="#">@item.TenPhim</a> <br /> @item.LuotXem lượt xem</h5>
                                        </div>
                                    </a>
                                }
                            }
                        </div>
                    </div>
                    <div class="product__sidebar__comment">
                        <div class="section-title">
                            <h5>Yêu thích nhất</h5>
                        </div>
                        @foreach (var item in ViewData["TopLikePhim"] as List<PhimWithLoai>)
                        {
                            if (item.Loai == "Bo")
                            {
                                <!-- Hiển thị thông tin của phim bộ -->
                                <a asp-controller="ChiTietPhim" asp-action="ChiTietPhimBo" asp-route-id="@item.Id">
                                    <div class="product__sidebar__comment__item">
                                        <div class="product__sidebar__comment__item__pic">
                                            <img class="topPhim" src="@item.Anh" alt="ERROR" />
                                        </div>
                                        <div class="product__sidebar__comment__item__text tuaDe">
                                            <h5><a href="#">@item.TenPhim</a></h5>
                                            <span>@item.Like like</span>
                                        </div>
                                    </div>
                                </a>
                            }
                            if (item.Loai == "Le")
                            {
                                <!-- Hiển thị thông tin của phim lẻ -->
                                <a asp-controller="ChiTietPhim" asp-action="ChiTietPhimLe" asp-route-id="@item.Id">
                                    <div class="product__sidebar__comment__item">
                                        <div class="product__sidebar__comment__item__pic">
                                            <img class="topPhim" src="@item.Anh" alt="ERROR" />
                                        </div>
                                        <div class="product__sidebar__comment__item__text ">
                                            <h5><a href="#">@item.TenPhim</a></h5>
                                            <span>@item.Like like</span>
                                        </div>
                                    </div>
                                </a>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
