@model WebsiteXemPhim.Models.PhimLe
@{
    ViewData["Title"] = "XemPhimLe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="anime-details spad">
    <div class="container">
        <div class="row">
            <!-- Cột bên trái: Video -->
            <div class="col-lg-8">
                <div class="anime__video__player">
                    <div class="video-container">
                        <iframe id="videoFrame" src="@Model.Link" frameborder="0" scrolling="0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="anime__details__review">
                    <!-- Bình luận -->
                    <div class="anime__details__form mb-5">
                        <div class="section-title">
                            <h5>Bình Luận</h5>
                        </div>
                        <form action="/BinhLuan/AddBinhLuanPL" method="post">
                            <textarea name="text" placeholder="Bình luận của tôi"></textarea>
                            <input type="hidden" name="phimleid" value="@Model.PhimLeId" />
                            <button type="submit"><i class="fa fa-location-arrow"></i> Gửi</button>
                        </form>
                    </div>
                    <div class="section-title">
                        <h5>Ý Kiến Người Dùng</h5>
                    </div>
                    @foreach (var item in ViewData["BinhLuan"] as List<BinhLuan>)
                    {
                        var thoiGian = ViewBag.BinhLuanThoiGian[item.BinhLuanId];
                        <div class="anime__review__item">
                            <div class="anime__review__item__pic">
                                <img src="@(item.User.avatar ?? "/frontend/img/anime/Avatar.jpg")" alt="Error">
                            </div>
                            <div class="anime__review__item__text">
                                <h6>@item.User.UserName - <span>@thoiGian</span></h6>
                                <p>
                                    @item.NoiDungBinhLuan
                                </p>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-lg-4">
                <!-- Sidebar gợi ý phim -->
                <div class="section-title">
                    <form asp-controller="ChiTietPhim" asp-action="XemPhimNgauNhien" method="get">
                        <button type="submit" class="btn btn-primary">XEM PHIM NGẪU NHIÊN</button>
                    </form>
                </div>
                <div class="anime__details__form mb-5">
                    <div class="section-title">
                        <h5>Phim liên quan</h5>
                    </div>
                    @foreach (var phim in ViewData["PhimGoiY"] as List<PhimLe>)
                    {
                        <div class="anime__sidebar__item">
                            <!-- Hình ảnh -->
                            <div class="anime__sidebar__item__pic">
                                <img src="@phim.AnhNen" alt="@phim.TenPhim">
                            </div>
                            <!-- Chữ -->
                            <div class="anime__sidebar__item__text">
                                <h5>
                                    <a href="/ChiTietPhim/ChiTietPhimLe/@phim.PhimLeId">
                                        <b>@phim.TenPhim</b>
                                    </a>
                                </h5>
                                <span>@phim.ThoiLuong phút</span>
                                <span>Lượt xem @phim.LuotXem</span>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>


