@model WebsiteXemPhim.Models.TapPhim

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Xoá</h1>

<h3>Bạn có chắc chắn muốn xoá tập phim này?</h3>
<div>
    <h4>Tập Phim</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
           Tập
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tap)
        </dd>
        <dt class = "col-sm-2">
            Link 1
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Link)
        </dd>
        <dt class="col-sm-2">
            Thời lượng
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ThoiLuong)
        </dd>
        <dt class = "col-sm-2">
            Phim Bộ
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhimBo.PhimBoId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TapPhimId" />
        <input type="submit" value="Xoá" class="btn btn-danger" /> |
        <a class="btn btn-info" asp-action="Index" asp-route-id="@ViewBag.Id">Trở về danh sách</a>
    </form>
</div>
