@model PaginatedList<WebsiteXemPhim.Models.TapPhim>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Danh sách tập phim @ViewBag.TenPhim </h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Thêm tập phim mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Tập</th>
            <th>Link phim</th>
            <th>Thời lượng</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Tap)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Link)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ThoiLuong)
                </td>
                <td class="col-md-3" style=" text-align:right;">
                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.TapPhimId">Sửa</a> |
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.TapPhimId">Chi tiết</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.TapPhimId">Xoá</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<div>
    <ul class="pagination">
        <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
            <a class="page-link" asp-action="Index" asp-route-pageNumber="@(Model.PageIndex - 1)" aria-label="Trang trước">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(i == Model.PageIndex ? "active" : "")">
                <a class="page-link" asp-action="Index" asp-route-pageNumber="@i">@i</a>
            </li>
        }
        <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
            <a class="page-link" asp-action="Index" asp-route-pageNumber="@(Model.PageIndex + 1)" aria-label="Trang sau">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</div>